/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
/* Header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 1rem;
}

.header h1 {
    font-size: 1.5rem;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 20%;
    align-items: center;
}

a:link {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    text-decoration: underline;
    color: gray;
}

/* Container 1 */

.container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 3rem 10rem;
    
}

.subcontainer-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 25%;
    gap: 1rem;
}

.subcontainer-1 h1 {
    font-size: 3rem;
}

.subcontainer-1 p {
    color: #E5E7EB;
}

.subcontainer-1 button {
    background-color: #3882F6;
    color: white;
    padding: .5rem 2rem;
    border: none;
    border-radius: .5rem;
}

.subcontainer-1 button:hover {
    background-color: white;
    color: black;
    border: grey .1rem solid;
    cursor: pointer;
}

.odin {
    border: lightgray .3rem solid;
    border-radius: .5rem;
    padding: 0;
}

/* Container 2 */

.container-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
    gap: 3rem;
    padding: 3rem;
}

.container-2 h2 {
    font-size: 2rem;
}

.container-2 img {
    width: 15rem;
    height: 18rem;
}

.subcontainer-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}

.image-subtext {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6rem;
    width: 65%;
    color: grey;
}

.image-subtext p {
    width: 50%;
}

/* Container 3 */

.container-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 3rem;
    text-align: center;
}

.quote {
    font-size: 2rem;
    width: 50%;
}

.container-3 p {
    text-align: right;
}